<!DOCTYPE html>
<html>
  <head>
    <title>🎉yui540誕生日おめでとう🎉</title>

    <meta name="robots" content="noindex,nofollow">

    <meta content="#FDEDCD" name="theme-color">
    <link rel="shortcut icon" type="image/x-icon" href="https://yui540.pachipachi.fun/favicon.ico">
    <meta content="yui540誕生日おめでとうWebサイトです。" name="description">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@oliver_diary" name="twitter:site">
    <meta content="🎉yui540誕生日おめでとう🎉" property="og:title">
    <meta content="website" property="og:type">
    <meta content="https://yui540.pachipachi.fun" property="og:url">
    <meta content="https://yui540.pachipachi.fun/ogp.png" property="og:image">
    <meta content="yui540誕生日おめでとうWebサイトです。" property="og:description">
    <meta content="🎉yui540誕生日おめでとう🎉" property="og:site_name">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
